.HospitalDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.procedure-cards {
    margin: 10px;
    width: 90%;
}

.header {
    display: flex;
    margin: 5px;
}

a.external-url {
    font-size: 1em;
    color: black;
}

.detail {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    margin: 5px;
}