.ProceduresList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    a {
        color: black;
        margin: 0px;
        width: 100%;
        text-decoration: none;
    }
    .procedure-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom: solid black 1px;
        padding: 5px 10px;
        min-width: 100%;
        &:hover {
            background-color: #C0DFF870;
        }
        h5 {
            margin-top: 2px;
            margin-bottom: 6px;
        }
        p {
            font-size: 0.8em;
            text-align: left;
            padding: 0px;
            margin: 0px;
            text-decoration: none;
        }
    }
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    min-width: 90%;
}

input {
    flex-grow: 2;
    height: 1.5em;
}

button {
    margin: 0px 5px;
    padding: 5px;
    background-color: rgb(70, 112, 190);
    box-shadow: none;
    color: white;
    border: none;
    box-shadow: 1px 1px black;
    border-radius: 2px;
}

button:hover {
    background-color: rgb(56, 100, 182);
    cursor: pointer;
}